# Simple Model

**Topic:** Real or Not? NLP with Disaster Tweets
<br>
**Class:** MSCA 31009 Machine Learning 
<br>
**Professor:** Dr. Arnab Bose
<br>
**Link:** https://www.kaggle.com/c/nlp-getting-started/overview

**Table of contents**

1. Importing the libraries and dataset
2. Feature Engineering
3. Model
4. Testing

In [1]:
#trying some basic bullshit

## 1. Importing libraries and dataset

In [53]:
#import libraries
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from collections import Counter
from nltk.corpus import stopwords
from gensim.corpora.dictionary import Dictionary

In [5]:
train_df = pd.read_csv("../Data/train.csv",index_col=0)
test_df = pd.read_csv("../Data/test.csv",index_col=0)

In [6]:
train_df.head()

   keyword location                                               text  target
id
1      NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
4      NaN      NaN             Forest fire near La Ronge Sask. Canada       1
5      NaN      NaN  All residents asked to 'shelter in place' are ...       1
6      NaN      NaN  13,000 people receive #wildfires evacuation or...       1
7      NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [7]:
test_df.head()

   keyword location                                               text
id
0      NaN      NaN                 Just happened a terrible car crash
2      NaN      NaN  Heard about #earthquake is different cities, s...
3      NaN      NaN  there is a forest fire at spot pond, geese are...
9      NaN      NaN           Apocalypse lighting. #Spokane #wildfires
11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

## 2. Feature Engineering

**Topic Identification**

1. **Bag of words approach**
- Create tokens and count of all the tokens
- The more frequent a token is, the more important that word might be


2. **Pre processing**
- Tokenization
- Lowercasing the words
- Lemmatization/Stemming (shorten words to their root stems)
- Removing stop words

3. **Word Vector**
- Multi dimensional Representation/ arrya of a word
- Usually sparse

In [47]:
#removing the stop words from out text
text=train_df.iloc[100,2]
tokens = [ w for w in word_tokenize(text.lower()) if w.isalpha()]
np_stops=[t for t in tokens if t not in stopwords.words('english')]
Counter(lower_tokens).most_common(2)

[('forest', 1), ('fire', 1)]

In [48]:
np_stops

['norwaymfa',
 'bahrain',
 'police',
 'previously',
 'died',
 'road',
 'accident',
 'killed',
 'explosion',
 'https']

In [49]:
' '.join(np_stops)

'norwaymfa bahrain police previously died road accident killed explosion https'

In [50]:
text

'.@NorwayMFA #Bahrain police had previously died in a road accident they were not killed by explosion https://t.co/gFJfgTodad'

In [54]:
train_df['text'].lower()

AttributeError: 'Series' object has no attribute 'lower'

In [67]:
#lower case all the text
train_df['text']=train_df.apply(lambda row:row['text'].lower(),axis=1)

#tokenize
tokenized_docs=[word_tokenize(doc) for doc in train_df['text']]

dictionary=Dictionary(tokenized_docs)

dictionary.token2id

TypeError: unhashable type: 'slice'

In [58]:
train_df

,keyword,location,text,target
id,,,,
1,NaN,NaN,our deeds are the reason of this #earthquake m...,1
4,NaN,NaN,forest fire near la ronge sask. canada,1
5,NaN,NaN,all residents asked to 'shelter in place' are ...,1
6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
7,NaN,NaN,just got sent this photo from ruby #alaska as ...,1
...,...,...,...,...
10869,NaN,NaN,two giant cranes holding a bridge collapse int...,1
10870,NaN,NaN,@aria_ahrary @thetawniest the out of control w...,1
10871,NaN,NaN,m1.94 [01:04 utc]?5km s of volcano hawaii. htt...,1
10872,NaN,NaN,police investigating after an e-bike collided ...,1
10873,NaN,NaN,the latest: more homes razed by northern calif...,1